* {
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/mainbg1.jpg);
    height: 90vh;
    position: relative;
    /* background-size: 100vw; */
    background-size: max(1550px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

nav img {
    width: 184px;
    position: relative;
    z-index: 3;
}

/* nav img:hover{
    cursor: pointer;    
} */
nav button {
    position: relative;
    z-index: 3;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin: 0 5px;
    padding: 7px 25px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 4px;
}

.btn-red {
    background-color: #e50914;
    font-weight: 700;
}

nav .btn-red:hover {
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 69vw;
    height: 60vh;
    color: white;
    z-index: 5;
}

.cont h2 {
    font-weight: 900;
    font-size: 48px;
    padding: 10px;
}

.cont h4 {
    font-weight: 400;
    font-size: 24px;
}

.herotbns {
    margin-top: 1%;
}

.herotbns button {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
}

.herotbns input {
    font-size: 24px;
    font-weight: 500;
}

.herotbns input::placeholder {
    font-size: 24px;
    color: white;
}

.sg {
    padding-top: 2px;
}

.separation {
    height: 10px;
    width: 100%;
    background-color: #232323;
}

.sec1 {
    width: 84vw;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1ct {
    font-size: 48px;
    font-weight: 900;
}

.sec1 .sec2ct {
    font-size: 24px;
    font-weight: 400;
}

.sec1img {
    position: relative;
}

.sec1img img {
    position: relative;
    z-index: 3;
}

.sec1img video {
    position: absolute;
    top: 96px;
    left: 83px;
}

.third .sec1img video {
    width: 390px;
    left: 120px;
    top: 55px;
}

.second .sec1img .sec2im {
    position: absolute;
    width: 400px;
    height: 96px;
    border: 2px solid #575757;
    left: 122px;
    top: 333px;
    z-index: 5;
    border-radius: 10px;
    background-color: black;
    display: flex;
}

.stgr img {
    height: 80px;
    padding: 8px;
    border-radius: 10px;
}

.sec2con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
}

.sec2con>div:nth-child(2) {
    color: #006de4;
}

.dnld {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dnld img {
    width: 70px;
}

.sec2con {
    margin: 32px 0 30px 0;
}
.faqs{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.faqs .q1{
    width: 75vw;
    height: 84px;
    background-color: #2d2d2d;
    /* margin-bottom: 12px; */
}
